.hide-modal {
  /* display: none !important; */
}

.modal-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
}

.modal-dialog {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
}

form {
  align-items: start;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

span,
label {
  color: black;
}
